<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ category.name }}</title>
        <!--
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div id="Category_Page">
            <br>
            <center>
                <img src={{ url_for('static', filename='logo_anime_kaku.png') }} alt="Anime Kaku Logo">
            </center>
        
            <div class="container">
        
                <div class="row">
                    <div class="col-sm">
                        <center>
                            <b><label for="basic-url" style="font-size:18">Player Name:&nbsp</label><label id="login_user_name_on_top" for="basic-url" style="font-size:18;color:red"> {{ player_name }} </label></b>
                            <b><label for="basic-url" style="font-size:18">&nbspSekai:&nbsp</label><label id="category_category_on_top" for="basic-url" style="font-size:18;color:red"> {{ category.name }} </label></b>
                        </center>
                    </div>
                </div>
                <br>
    
                <form method="post">
                    <div class="row">
                        <div class="col-md"></div>
                        
                        <div class="col-md">
                        <center>
                            <div class="input-group mb-3">
                                <input name="input_lobby_name" type="text" class="form-control" placeholder="Type here the Lobby's Name" aria-label="Lobby's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button id="input_create_lobby_button" type="submit" class="btn btn-outline-danger" type="button">Create Lobby</button>
                                </div>
                            </div>
                        </center>
                        </div>

                        <div class="col-md"></div>
                    </div>

                    <div class="row">
                        <div class="col-md"></div>
                        
                        <center>
                        <div class="col-md">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="input_choose_topic">Topic:</label>
                                <select class="form-select" name="input_choose_topic">
                                    {% for topic in category.topics %}
                                        <option value={{ topic.name }}>&nbsp{{ topic.name }}&nbsp</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        </center>

                        <div class="col-md"></div>
                    </div>
                </form>

            </div>
            <hr>
            <center>Or you can join an already created Lobby:</center>
        
            <div id="Category_Lobbies" class="container">
                
            </div>
        
        </div>
    </body>
</html>