<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ category_name }}</title>
        <!--
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div id="Category_Page">
            <br>
            <center>
                <img src={{ url_for('static', filename='logo_anime_kaku.png') }} alt="Anime Kaku Logo">
            </center>
        
            <div class="container">
        
                <div class="row">
                    <div class="col-sm">
                        <center>
                            <b><label for="basic-url" style="font-size:18">Player Name:&nbsp</label><label id="login_user_name_on_top" for="basic-url" style="font-size:18;color:red"> {{ player_name }} </label></b>
                            <b><label for="basic-url" style="font-size:18">&nbspSekai:&nbsp</label><label id="category_category_on_top" for="basic-url" style="font-size:18;color:red"> {{ category_name }} </label></b>
                        </center>
                    </div>
                </div>
                <br>

                <form method="post">
                    <div class="input-group mb-3" style="width: 50%; margin-left:25%; margin-right:25%">
                        <input name="input_lobby_name" type="text" class="form-control" placeholder="Type here the Lobby's Name" aria-label="Lobby's username" aria-describedby="button-addon2" style="text-align: center;">
                        <div class="input-group-append">
                            <button id="input_create_lobby_button" type="submit" class="btn btn-outline-danger" type="button">Create Lobby</button>
                        </div>
                    </div>
                </form>

            </div>

            <hr>
            <center>Or you can join an already created Lobby (refresh the page for updates):</center>
        
            <div id="Category_Lobbies" class="container">
                
                {% for row in cat_lobbies %}

                <br>
                <div class="row">
                    
                    {% for cat_lobby in row %}

                    {% if cat_lobby.lobby_nature == in_lobby_nature %}

                    {% set go_to_lobby = '/lobby/' ~ cat_lobby.room_id ~ '?return_to_cat=' ~ category_name %}

                    <div class="col-sm">
                        <center>
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">
                                    {{ cat_lobby.lobby_conf['lobby_name'] }}
                                </div>
                                <div class="card-body">
                                    <a href={{ go_to_lobby }} class="btn btn-danger">Join!</a>
                                </div>
                            </div>
                        </center>
                    </div>

                    {% endif %}

                    {% endfor %}

                </div>
                <br>

                {% endfor %}

            </div>
        
        </div>
    </body>
</html>