<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Welcome to AnimeKaku!</title>
        <!--
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div id="Login_Page">
            <br><br><br>
            <center>
                <img src={{ url_for('static', filename='logo_anime_kaku.png') }} alt="Anime Kaku Logo">
            </center>
            <br><br><br><br><br><br>
            <center>
        
                <b><label for="basic-url" style="font-size:18">Choose your</label><label for="basic-url" style="font-size:18;color:red"> &nbspPlayer Name&nbsp</label></b><span class="align-middle"><i class="material-icons" style="font-size:18px;color:gray" data-toggle="tooltip" data-placement="top" title="You can reconnect to a game by reusing the Player Name you had!">info_outline</i></span> <!-- TODO: Give style to the tooltip message. -->
        
                <form method="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm"></div>

                            <div class="col-sm">
                                <div class="input-group-append">
                                    <input id="input_player_name" name="input_player_name" type="text" class="form-control" placeholder="Type here..." aria-label="Type here..." aria-describedby="basic-addon1" style="text-align:center">
                                </div>
                            </div>

                            <div class="col-sm"></div>
                        </div>
                    </div>
            
                    <button id="login_button" type="submit" class="btn btn-danger" style="margin-top:10px">Enter</button>
                </form>
                
            </center>
        </div>
    </body>

    <script src="https://cdn.socket.io/socket.io-3.0.1.js"></script> <!-- TODO: Not really from us, looks like there is a warning that isn't our fault. -->

    <script>
        var socket = io();
        socket.on('connect', function() {
            console.log('I connected');
            socket.emit('sayHi',{
                one:1,
                two:2,
                three:3
            });
        });
    </script>
</html>