<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ category.name }}</title>
        <!--
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div id="Lobby_Page">
            <br>
            <center>
                <img src={{ url_for('static', filename='logo_anime_kaku.png') }} alt="Anime Kaku Logo">
            </center>
        
            <div class="container">
        
                <div class="row">
                    <div class="col-sm">
                        <center>
                            <b><label for="basic-url" style="font-size:18">Player Name:&nbsp</label><label id="login_user_name_on_top" for="basic-url" style="font-size:18;color:red"> {{ player_name }} </label></b>
                            <b><label for="basic-url" style="font-size:18">&nbspLobby Name:&nbsp</label><label id="category_category_on_top" for="basic-url" style="font-size:18;color:red"> {{ lobby_name }} </label></b>
                            <b><label for="basic-url" style="font-size:18">&nbspSekai:&nbsp</label><label id="category_category_on_top" for="basic-url" style="font-size:18;color:red"> {{ category.name }} </label></b>
                        </center>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm">
                        <center>
                            <button type="button" class="btn btn-danger">Destroy Lobby</button>
                        </center>
                    </div>
                    <div class="col-sm">
                        <center>
                            <button type="button" class="btn btn-danger">Start Game!</button>
                        </center>
                    </div>
                    <div class="col-sm">
                        <center>
                            <button type="button" onclick="displayCreateLobbyForm('block')" class="btn btn-danger">Settings</button>
                        </center>
                    </div>
                </div>
                <br>

            </div>

            <center>
            <div id="lobby_settings_form" style="display:none; background-color:#f0f4f8; position:fixed; border-color: black; border-style:solid; border-width: 4px; z-index: 5; margin-left:25%; margin-right:25%; width:50%; border-radius: 25px;">
                
                <br>
                <div class="container">
        
                    <form method="post">

                        <button onclick="displayCreateLobbyForm('none')" type="button" class="close" aria-label="Close" style="color:red">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <b>LOBBY <span style="color:red">SETTINGS</span></b>
                        <br><br>

                        <div class="row">
                            <div class="col-md"></div>
                            
                            <center>
                            <div class="col-md">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="input_choose_topic">Topic:</label>
                                    <select onchange="displayFilterOnTopicSelect()" class="form-select" id="input_choose_topic" name="input_choose_topic">
                                        {% for topic in category.topics %}
                                            <option value={{ topic.name }}>&nbsp{{ topic.name }}&nbsp</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            </center>

                            <div class="col-md"></div>
                        </div>

                        <div class="row">
                            <div class="col-md"></div>

                            <div class="col-md">
                                <center>
                                    <b>Settings:</b>
                                </center>
                            </div>
                            <div class="col-md"></div>
                        </div>

                        <div class="row">
                            <div class="col-md"></div>
                            
                            <center>
                            <div class="col-md">
                                <u>Difficulty:</u>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="difficulty_checkbox" id="difficultyCheckBox1" value="Casual" checked>
                                    <label class="form-check-label" for="difficultyCheckBox1">
                                        Casual (Recommended)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="difficulty_checkbox" id="difficultyCheckBox2" value="Extreme">
                                    <label class="form-check-label" for="difficultyCheckBox2">
                                        Extreme
                                    </label>
                                </div>
                            </div>
                            </center>

                            <div class="col-md"></div>
                        </div>

                        <div class="row">
                            <div class="col-md"></div>

                            <div class="col-md">
                                <center>
                                    <br>
                                    <b>Filters:</b>
                                </center>
                            </div>
                            <div class="col-md"></div>
                        </div>

                        <!--TODO: Here should be the 'if' to check if there is any Filter. -->

                        {% for topic in category.topics %}
                            {% for filter in topic.filters %}
                                <div class={{ topic.name ~ '_filter row' }} style="display:none">

                                        <div class="col-md"></div>

                                        <center>
                                        <div class="col-md">
                                            <u>{{ filter.attribute }}</u>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name={{ filter.attribute ~ '_' ~ topic.name ~ '_filter' }} value={{ filter.attribute }} checked>
                                                <label class="form-check-label" for={{ filter.attribute ~ '_filter' }}></label>
                                            </div>
                                        </div>
                                        </center>

                                        <div class="col-md"></div>
                                    
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </form>

                </div>
                <br>

            </div>
            </center>

            <hr>
            <div id="Category_Lobbies" class="container">
                
            </div>
        
        </div>
    </body>

    <script>

        var displayCreateLobbyForm = function(displayValue){
            var htmlCreateLobbyForm = document.getElementById('lobby_settings_form');
            htmlCreateLobbyForm.style.display = displayValue;
        }

        var lastTopicSelected = "";

        var displayElementByClass = function(className, displayValue){
            var htmlElementsByClass = document.getElementsByClassName(className);
            if (htmlElementsByClass.length>0 && htmlElementsByClass[0] != undefined){
                for (i = 0; i < htmlElementsByClass.length; i++) {
                    htmlElementsByClass[i].style.display = displayValue;
                }
            }
        }

        var displayFilterOnTopicSelect = function () {
            if(lastTopicSelected != ""){
                displayElementByClass(lastTopicSelected + '_filter', 'none');
            }

            var topicSelected = document.getElementById("input_choose_topic").value;
            displayElementByClass(topicSelected + '_filter', 'block');
            lastTopicSelected = topicSelected;
        }

        displayFilterOnTopicSelect();
    </script>
</html>