<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ category_name }}</title>
        <!--
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div id='category_name' style="display: none;">{{ category_name }}</div>
        <div id='room_id' style="display: none;">{{ room_id }}</div>
        <div id='default_topic' style="display: none;">{{ category.default_topic }}</div>

        <div id="Loading_Screen">

            <div style="left:50%; top:50%; position:absolute; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
                <b>ATTEMPTING TO <span style="color:red">CONNECT</span></b><br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Trying to connect...</span>
                </div>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </div>

        </div>

        <div id="Lobby_Page" style="display: none;">
            <br>
            <center>
                <img src={{ url_for('static', filename='logo_anime_kaku.png') }} alt="Anime Kaku Logo">
            </center>
        
            <div class="container">
        
                <div class="row">
                    <div class="col-sm">
                        <center>
                            <b><label for="basic-url" style="font-size:18">Player Name:&nbsp</label><label id="login_user_name_on_top" for="basic-url" style="font-size:18;color:red"> {{ player_name }} </label></b>
                            <b><label for="basic-url" style="font-size:18">&nbspLobby Name:&nbsp</label><label id="category_category_on_top" for="basic-url" style="font-size:18;color:red"> {{ lobby_name }} </label></b>
                            <b><label for="basic-url" style="font-size:18">&nbspSekai:&nbsp</label><label id="category_category_on_top" for="basic-url" style="font-size:18;color:red"> {{ category_name }} </label></b>
                        </center>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm">
                        <center>
                            <button type="button" class="btn btn-danger">Destroy Lobby</button>
                        </center>
                    </div>
                    <div class="col-sm">
                        <center>
                            <button type="button" class="btn btn-danger">Start Game!</button>
                        </center>
                    </div>
                    <div class="col-sm">
                        <center>
                            <button type="button" onclick="displayLobbySettingsForm('block')" class="btn btn-danger">Settings</button>
                        </center>
                    </div>
                </div>
                <br>

            </div>

            <center>
            <div id="lobby_settings_form" style="display:none; background-color:#f0f4f8; position:fixed; border-color: black; border-style:solid; border-width: 4px; z-index: 5; margin-left:25%; margin-right:25%; width:50%; border-radius: 25px;">
                
                <br>
                <div class="container">

                    <button onclick="displayLobbySettingsForm('none')" type="button" class="close" aria-label="Close" style="color:red">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <b>LOBBY <span style="color:red">SETTINGS</span></b>
                    <br><br>

                    <div class="row">
                        <div class="col-md"></div>
                        
                        <center>
                        <div class="col-md">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="input_choose_topic">Topic:</label>
                                <select onchange="displayFilterOnTopicSelect()" class="form-select" id="input_choose_topic" name="input_choose_topic">
                                    {% for topic in category.topics.values() %}
                                        <option value={{ topic.name }}>&nbsp{{ topic.name }}&nbsp</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        </center>

                        <div class="col-md"></div>
                    </div>

                    <div class="row">
                        <div class="col-md"></div>

                        <div class="col-md">
                            <center>
                                <b>Settings:</b>
                            </center>
                        </div>
                        <div class="col-md"></div>
                    </div>

                    <div class="row">
                        <div class="col-md"></div>
                        
                        <center>
                        <div class="col-md">
                            <u>Difficulty:</u>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="difficulty_checkbox" id="difficultyCheckBox1" value="Casual" checked>
                                <label class="form-check-label" for="difficultyCheckBox1">
                                    Casual (Recommended)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="difficulty_checkbox" id="difficultyCheckBox2" value="Extreme">
                                <label class="form-check-label" for="difficultyCheckBox2">
                                    Extreme
                                </label>
                            </div>
                        </div>
                        </center>

                        <div class="col-md"></div>
                    </div>

                    <div class="row">
                        <div class="col-md"></div>

                        <div class="col-md">
                            <center>
                                <br>
                                <b>Filters:</b>
                            </center>
                        </div>
                        <div class="col-md"></div>
                    </div>

                    <!--TODO: Here should be the 'if' to check if there is any Filter. -->

                    {% for topic in category.topics.values() %}
                        {% for filter in topic.filters.values() %}
                            <div class={{ topic.name ~ '_filter row' }} style="display:none">

                                    <div class="col-md"></div>

                                    <center>
                                    <div class="col-md">
                                        <u>{{ filter.attribute }}</u>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name={{ filter.attribute ~ '_' ~ topic.name ~ '_filter' }} value={{ filter.attribute }} checked>
                                            <label class="form-check-label" for={{ filter.attribute ~ '_filter' }}></label>
                                        </div>
                                    </div>
                                    </center>

                                    <div class="col-md"></div>
                                
                            </div>
                        {% endfor %}
                    {% endfor %}

                </div>
                <br>

            </div>
            </center>

            <hr><br>

            <div id="Players and Chat" class="container">
                
                <div class="row">
                    <div class="col-3">
                        <center>
                            <div id="slot_0" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div id="slot_player_0" class="card-header">Empty Slot</div>
                            </div>
                            <div id="slot_1" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div id="slot_player_1" class="card-header">Empty Slot</div>
                            </div>
                            <div id="slot_2" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div id="slot_player_2" class="card-header">Empty Slot</div>
                            </div>
                            <div id="slot_3" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div id="slot_player_3" class="card-header">Empty Slot</div>
                            </div>
                            <div id="slot_4" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div id="slot_player_4" class="card-header">Empty Slot</div>
                            </div>
                        </center>
                    </div>
                    <div class="col-3">
                        <center>
                            <div id="slot_5" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div id="slot_player_5" class="card-header">Empty Slot</div>
                            </div>
                            <div id="slot_6" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div id="slot_player_6" class="card-header">Empty Slot</div>
                            </div>
                            <div id="slot_7" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div id="slot_player_7" class="card-header">Empty Slot</div>
                            </div>
                            <div id="slot_8" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div id="slot_player_8" class="card-header">Empty Slot</div>
                            </div>
                            <div id="slot_9" class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div id="slot_player_9" class="card-header">Empty Slot</div>
                            </div>
                        </center>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-5">
                        <center>
                            <div>
                                <div id="LobbyChat" style="overflow:auto;height:20rem;border:solid thin gray;text-align:left">
                                </div>
                                <br>
                                <div class="input-group mb-3">
                                    <input id="input_lobby_chat" type="text" class="form-control" placeholder="Type here..." aria-label="Lobby's username" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button id="input_lobby_button" class="btn btn-outline-danger" type="button" onclick="SendLobbyMessage()">Send Message</button>
                                     </div>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>

            </div>
        
        </div>
    </body>

    <script src="https://cdn.socket.io/socket.io-3.0.1.js"></script> <!-- TODO: Not really from us, looks like there is a warning that isn't our fault. -->

    <script>
        var PlayerSlot = function(){
            var self = {
                state: 'Empty',
                name: ''
            }
        }

        var SLOTS = [PlayerSlot(), PlayerSlot(), PlayerSlot(), PlayerSlot(), PlayerSlot(), PlayerSlot(), PlayerSlot(), PlayerSlot(), PlayerSlot(), PlayerSlot()];
        var SLOTS_QUEUE = [];
        var SLOTS_VERSION = 0;
    </script>

    <script>
        var socket = io();

        // Connection and General

        socket.on('connect', function() {
            socket.emit('connectToLobby', {
                room_id : document.getElementById('room_id').innerText,
            });
        });

        socket.on('Redirect Out', function() {
            window.location.href = "/sekai/" + document.getElementById('category_name').innerText;
        });

        socket.on('Initial Status', function(data) {
            console.log(data['game_settings_version']);
            console.log(data['game_type']);
            console.log(data['game_difficulty']);
            console.log(data['game_topic']);
            console.log(data['game_filters']);
        });

        socket.on('Successful Connection', function() {
            document.getElementById('Loading_Screen').style.display = 'none';
            document.getElementById('Lobby_Page').style.display = 'block';
        });

        // Chat

        socket.on('Receive Lobby Message', function(data){
            lobby_chat_dom = document.getElementById("LobbyChat");
            lobby_chat_dom.innerHTML += "<b>" + data.sender_name + ":</b> " + data.text_sent + "<br>";
            lobby_chat_dom.scrollTop = lobby_chat_dom.scrollHeight;
        });

        var SendLobbyMessage = function(){
            var text_to_send = document.getElementById("input_lobby_chat").value;
    
            if(text_to_send == ""){
                return;
            }
            else if(text_to_send.length>30){
                window.alert("Please don't send messages that are longer than 30 characters.");
                // TODO: More regex, like special characters.
            }
            else{
                document.getElementById("input_lobby_chat").value = "";
                socket.emit('sendLobbyMessage',{
                    text_to_send : text_to_send
                });
            }
        }
    </script>

    <script>

        var displayLobbySettingsForm = function(displayValue){
            var htmlLobbySettingsForm = document.getElementById('lobby_settings_form');
            htmlLobbySettingsForm.style.display = displayValue;
        }

        document.getElementById("input_lobby_chat").addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("input_lobby_button").click();
            }
        });


    </script>

    {% if is_host %}

        <script>
            
            var lastTopicSelected = "";

            var displayElementByClass = function(className, displayValue){
                var htmlElementsByClass = document.getElementsByClassName(className);
                if (htmlElementsByClass.length>0 && htmlElementsByClass[0] != undefined){
                    for (i = 0; i < htmlElementsByClass.length; i++) {
                        htmlElementsByClass[i].style.display = displayValue;
                    }
                }
            }

            var displayFilterOnTopicSelect = function () {
                if(lastTopicSelected != ""){
                    displayElementByClass(lastTopicSelected + '_filter', 'none');
                }

                var topicSelected = document.getElementById("input_choose_topic").value;
                displayElementByClass(topicSelected + '_filter', 'block');
                lastTopicSelected = topicSelected;
            }

            document.getElementById("input_choose_topic").value = document.getElementById("default_topic").innerText;
            displayFilterOnTopicSelect();
        </script>

    {% else %}

        <script>
            
        </script>

    {% endif %}

</html>